<div>
  <div>
    <p>Recipe Page</p>
    {{#each recipes}}
    <img src="{{this.thumbnail_url}}" alt="a recipe" class="recipe-photo" />
    <h1>
      {{this.name}}
    </h1>
    <h4>Servings:
      {{this.num_servings}}
      </h2>
      <p>
      <h4>Description:
        {{this.description}}
      </h4>
      </p>
      <h4>Nutrition:
        <ul>
          {{#each this.nutrition}}
          {{!-- {{#if @key === updated_at}} --}}
          <li>{{@key}}: {{this}}</li>
          {{!-- {{/if}} --}}
          {{/each}}
        </ul>
      </h4>
      <h4>Instructions:
        <ol>
          {{#each this.instructions}}
          <li>{{this.display_text}}</li>
          {{/each}}
        </ol>
      </h4>
      <h3>Keywords:
        {{this.keywords}}
      </h3>
      <a href="/{{this.id}}">Details</a>
      {{/each}}
  </div>
</div>