<h1>Hello from the recipe(recipeId)</h1>


<div>
  <div>
    <p>Recipe Page</p>
    <img src="{{recipe.thumbnail_url}}" alt="a recipe" class="recipe-photo" />
    <h1>
      {{recipe.name}}
    </h1>
    <h3>Servings:
      {{recipe.num_servings}}
    </h3>
    <p>
      {{recipe.description}}
    </p>
    {{!-- <h3>
      {{recipe.nutrition}}
    </h3> --}}
<h4>Instructions:
        <ol>
          {{#each recipe.instructions}}
          <li>{{display_text}}</li>
          {{/each}}
        </ol>
      </h4>

     {{!-- <h3>
      {{recipe.keywords}}
    </h3> --}}

  </div>
</div>

{{!-- Comment Form added  --}}

<div class="comment-form">
  <h2>Add a Comment</h2>
  <form action="/recipe/{{recipe._id}}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="author">Name:</label>
      <input type="text" name="author" id="author" required>
    </div>
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea name="comment" id="comment" required></textarea>
    </div>
    <div class="form-group">
      <label for="image">Image:</label>
      <input type="file" name="image" id="image">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

{{!-- How to display the comment --}}
<div class="comments">
  <h2>Comments</h2>
  {{#each recipe.comments}}
    <div class="comment">
      <h5>Posted by {{this.author}}</h5>
      {{#if this.image}}
        <img src="{{this.image}}" alt="Comment Image">
      {{/if}}
      <p>{{this.comment}}</p>
    </div>
  {{/each}}
</div>



